asgiref==3.11.1
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.5
cryptography==46.0.5
Django==5.2.12
django-allauth==65.15.0
django-allauth-ui==1.8.1
django-widget-tweaks==1.5.1
Faker==40.11.0
idna==3.11
pycparser==3.0
PyJWT==2.12.1
PyYAML==6.0.3
requests==2.32.5
slippers==0.6.2
sqlparse==0.5.5
typeguard==2.13.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
